<html>
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Inter', sans-serif; margin: 0; box-sizing: border-box; font-weight: normal;">
  <center>
    <div style="background-color: #fff; max-width: 600px; padding: 10px;">

      <div style="background-color: #085259; margin: 0; padding: 15px; max-height: 300px; border-radius: 3px;">
        <img style="width: 100%;" src="{{logo}}" alt="logo MOVE">
      </div>

      <div style="padding: 14px 20px; font-size: 14px; text-align: left; display: flex; flex-direction: column; gap: 10px;">
        <h2 style="color: #292536; font-weight: 600;">Olá, {{firstName}}</h2>
        <p>Recebemos uma solicitação para redefinir a senha da sua conta. Para definir uma nova senha, clique no link abaixo:</p>
          <a href="{{frontUrl}}/reset-password?token={{token}}" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: #fcfcfc; font-size: 18px; margin: 0 auto; font-weight: 600; max-width: fit-content; padding: 10px; background-color: #085259; border-radius: 10px">Redefinir senha</a>
        <p>Se você não solicitou a redefinição de senha, por favor, ignore este e-mail. Sua senha permanecerá inalterada.</p>
        <p style="color: #085259;">Este link é válido por 24 horas.</p>
        <p>Se precisar de ajuda, entre em contato com nosso suporte.</p>
      </div>

      <div style="background-color: #085259; padding: 10px; border-radius: 5px; color: #fff; display: flex; flex-direction: column; align-items: center;">
        <h2 style="font-size: 16px;">Siga-nos</h2>

        <div style="display: flex; gap: 10px; max-width: fit-content;">
          
          <a href="{{facebookLink}}" style=" display: flex; justify-content: center; align-items: center; background-color: #fff; width: 20px; height: 20px; padding: 10px; border-radius: 14px; transition: all linear 300ms;">  
            <img src="{{facebook}}" alt="facebook">
          </a>
          
          <a href="{{instagramLink}}" style=" display: flex; justify-content: center; align-items: center; background-color: #fff; width: 20px; height: 20px; padding: 10px; border-radius: 14px; transition: all linear 300ms;">  
            <img src="{{instagram}}" alt="instagram">
          </a>
          
          <a href="{{linkedinLink}}" style=" display: flex; justify-content: center; align-items: center; background-color: #fff; width: 20px; height: 20px; padding: 10px; border-radius: 14px; transition: all linear 300ms;">
            <img src="{{linkedin}}" alt="linkedin">
          </a>
          
          <a href="{{tiktokLink}}" style=" display: flex; justify-content: center; align-items: center; background-color: #fff; width: 20px; height: 20px; padding: 10px; border-radius: 14px; transition: all linear 300ms;">  
            <img src="{{tiktok}}" alt="tiktok">
          </a>
          
          <a href="{{youtubeLink}}" style=" display: flex; justify-content: center; align-items: center; background-color: #fff; width: 20px; height: 20px; padding: 10px; border-radius: 14px; transition: all linear 300ms;">
            <img src="{{youtube}}" alt="youtube">
          </a>

        </div>

        <p>Brasil</p>
      </div>
    </div>
  </center>
</body>
</html>